 *{
     margin: 0;padding: 0;
 }
 main h2{
     text-align: center;
     padding-top: 10px;
     font-style: italic;
     text-decoration: underline;
     color: #23A455;
 }
 .text-col {
     text color: red;
 }