.cb-partb{
   
    margin: 10px 0px;
}
.cb-partc{
   
    margin: 10px 0px;
}
.contactbody{
    margin: 40px;
}
.dob{
    padding: 10px 0px;
}
.dob-in{
    padding: 10px 2px;
}
.cb-pos{
    padding: 10px 0px;
}
#posselect{
    padding: 10px 0px;
}
.tandc{
    padding: 10px 0px;
}